$bgColor: blue;
$buttonSize: 48px;

*{box-sizing: border-box;}
body {
background-image: url(../img/04.04.jpg);
/*przykrywa cały obszar "cover"*/

background-size: cover;
background-position: right top;
margin:0;
/* zeby cal+y obszar styrony byl przylryty zdjeciem */
min-height: 100vh;
color: #ffff;
}




>header{    
    border:2px dashed red;
    display: flex;
    justify-content:space-between;
}
    

    nav{ 
        position: relative;
        min-height: $buttonSize;

    #toggler {display:none}

    label{
            border: 2px dashed yellow;
            position: absolute;
            width: $buttonSize;
            height: $buttonSize;
            right: 0;
            top: 0;
            //wskazac ze elelemnt jest aktywny, mozemy an niego kliknac
            cursor: pointer;

            //Hamburger 
            div{
                transition:2s;
                background-color: rgb(255, 255, 255);
                position: absolute;
                width: 80%;
                left: 10%;
                height: 10%;
                &:nth-child(1){
                 top: 17.5%;
             }
                &:nth-child(2){
                    top: 45%;
            }
                &:nth-child(3){
                    top: 72.5%;
                }
        }


        ul{
            display: none;
            border: 2px dashed blue;
            //display: flex;
            flex-direction: column;
            position: absolute;
            right: 0;
            top: $buttonSize;
            margin: 0;

            }
        // po kliknieciu na hi+umburger
      //  #toggler:checked ~ ul{
        //    display: flex;
       // } 
       // #toggler:checked ~ label

       #toggler:checked{
           ~ul {display: flex;}
           ~label{
               border-color: blue;
           }
            div{
              &:nth-child(1){
                  background-color: red;
                  transform: rotate(-135deg);
                  top: 45%; //(polowa wysokosci kreski)
                 }
              &:nth-child(2){
                opacity: 0;
            }
              &:nth-child(3){
                transform: rotate(-45deg);
                top:45%;
            }
         }
     }
    
}
    

       //@at-root .hamburger{
   // border: 2px dashed green;
    // zostal wywalony//
       }

    @media (min-width:768px) {
        nav{
            ul{
            display: flex;
            }
        }
    }

