* {
  box-sizing: border-box;
}

body {
  background-image: url(../img/04.04.jpg);
  background-size: cover;
  background-position: center top;
  margin: 0;
  min-height: 100vh;
  color: white;
}
body > header {
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
}
body > * {
  display: flex;
  align-items: center;
}
body .pageLogo a {
  color: inherit;
  text-decoration: none;
  display: flex;
}
body .pageLogo a b {
  font-size: 30px;
}
body nav {
  position: relative;
  min-height: 48px;
}
body nav #toggler {
  display: none;
}
body nav label {
  position: absolute;
  width: 48px;
  height: 48px;
  right: 0;
  top: 0;
  cursor: pointer;
}
body nav label div {
  transition: 5s;
  background-color: rgb(255, 255, 255);
  position: absolute;
  width: 80%;
  left: 10%;
  height: 10%;
}
body nav label div:nth-child(1) {
  top: 17.5%;
}
body nav label div:nth-child(2) {
  top: 45%;
}
body nav label div:nth-child(3) {
  top: 72.5%;
}
body ul {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0.7px;
  border-radius: 10px;
  list-style: none;
  display: none;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 48px;
  margin: 0;
}
body ul li {
  padding: 0.7em 0.7em;
  display: flex;
  justify-content: center;
  align-items: center;
}
body ul li a {
  text-decoration: none;
  color: inherit;
  text-align: center;
}
body #toggler:checked ~ ul {
  display: flex;
}
body #toggler:checked ~ label {
  border-color: blue;
}
body #toggler:checked ~ label div:nth-child(1) {
  transform: rotate(-135deg);
  top: 45%;
}
body #toggler:checked ~ label div:nth-child(2) {
  opacity: 0;
}
body #toggler:checked ~ label div:nth-child(3) {
  transform: rotate(-45deg);
  top: 45%;
}
@media (min-width: 768px) {
  body label {
    display: none;
  }
  body ul {
    display: flex;
    flex-direction: row;
    position: static;
  }
}
body main {
  margin-top: 10vh;
  padding: 0 1em;
}
body main .wrapper > header {
  flex: 1;
}
body main .wrapper > header h1 {
  margin-bottom: 0;
}
body main .wrapper > header h2 {
  margin-top: 0;
}
body main .wrapper > header button {
  background-color: transparent;
  border: 2px solid green;
  min-height: 1.5em;
  border-radius: 1.5em;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 0.5em 2.5em;
  margin-bottom: 10vh;
}
body main .wrapper > article {
  flex: 2;
  display: flex;
  align-items: flex-start;
}
body main .wrapper > article .playButton {
  background-color: transparent;
  border: 2px solid green;
  min-height: 1.5em;
  border-radius: 1.5em;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 1.5em;
  border-radius: 50%;
  position: relative;
}
body main .wrapper > article .playButton span {
  position: absolute;
  top: 0;
  left: 0.245em;
  font-size: 2.5em;
}
body main .wrapper header .container {
  padding-left: 1em;
  display: block;
  max-height: 45vh;
}
@media (max-width: 768px) {
  body {
    margin-left: 15vw;
  }
  body .wrapper {
    display: flex;
  }
  body .about {
    width: 40%;
  }
}
body footer .social {
  display: flex;
  justify-content: space-evenly;
  padding: 2em;
}
@media (min-width: 768px) {
  body footer {
    position: fixed;
    left: 0;
    bottom: 0;
  }
  body footer .social {
    flex-direction: column;
  }
  body footer .social div {
    margin: 0.8em;
  }
}/*# sourceMappingURL=style.css.map */