$bgColor: blue;
*{box-sizing: border-box;}
body {
background-image: url(../img/04.04.jpg);
/*przykrywa cały obszar "cover"*/

background-size: cover;
background-position: right top;
margin:0;
/* zeby cal+y obszar styrony byl przylryty zdjeciem */
min-height: 100vh;
color: #ffff;



    >header{    
    border:2px dashed red;
    display: flex;
    }

        nav{
            border: 2px dashed blue;


        ul{
            display: none;
            }

        #toggler:checked ~ ul{
            display: flex;

        }    
    }

       //@at-root .hamburger{
   // border: 2px dashed green;
    }// zostal wywalony//
}

    @media (min-width:768px) {
        nav{
            ul{
            display: flex;
            }
        }
    }

